{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Créer un nouvel admin</h1>

    <p>Lors de l'ajout du nouvel admin, un mot de passe est alloué par défaut et sera à modifier par le nouvel admin.</p>

    {{ include('admin/user/_form.html.twig') }}

    <a href="{{ path('app_admin_user_index') }}">back to list</a>
{% endblock %}
