{% extends 'base.html.twig' %}

{% block title %}Nouveau membre{% endblock %}

{% block body %}
    <h1>Créer un nouveau membre</h1>

    {{ include('admin/user/_form.html.twig') }}

    <a href="{{ path('app_admin_user_index') }}">back to list</a>
{% endblock %}
