{% extends 'base.html.twig' %}

{% block style %}{% endblock %}

{% block title %}Chez Polux{% endblock %}

{% block body %}


<div class="lool">
  <div class="row">
  <h4> Polux, l'entreprise spécialisée dans la location et la vente de jeux de sociétés, a pour mission de résoudre les moments des familles ou la technologie a pris une place importante et nous souhaitons pouvoir regrouper les familles éloignées ou proches autour de jeux de sociétés.</h4><br><br><br>
  </div><br><br>
  <div class="how-section1">
    <div class="row">
      <!-- grandeur de l'image -->
        <div class="col-md-6 how-img text-center">
            <img src="images/board-game.png"  class="img-fluid" alt=""/>
        </div>
        <div class="col-md-6">
          <h4><strong>Qui sommes-nous ?<strong></h4>
            <h4 class="subheading">« Chez Polux, nous sommes de grands enfants entrepreneurs. En cette année, nous formons une coopérative de passionnés par les jeux, attachés à la proximité avec nos clients et à la vie locale. Nous aimons transmettre notre passion au plus grand nombre.</h4><br><br>
        </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4><strong>S'ouvrir à la découverte en s'amusant</strong></h4>
              <h4 class="subheading">« Jouer, c’est s’ouvrir au monde et aux autres ».
              Rapprocher enfants et parents autour du jeu pour qu’ils vivent ensemble de beaux moments de complicité et de bonne humeur, telle est la raison d’être qui nous anime.</h4><br><br>
          </div>
          <div class="col-md-6 text-center">
            <img src="images/game.jpg" class="img-fluid" alt=""/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-center">
            <img src="images/jeux.jpg" class="img-fluid" alt=""/>
          </div>
          <div class="col-md-6">
            <h4><strong>Spécialiste des jeux français</strong></h4>
              <h4 class="subheading">En tant que spécialiste français des jeux de sociétés de 0 à 18 ans, Polux offre un large choix de jeux et de jouets de qualité à des prix  toujours compétitifs pour premier âge, filles et garçons</h4><br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4><strong>Grande variété de jeux de 0 à 18 ans</strong></h4>
              <h4 class="subheading">18 jeux différents et uniques dès 8.99 euros à travers la France. Paris, Grenoble, Montpellier, Saint-Pierre de la Réunion, Fréjus, Nantes ou Bordeaux sont des destinations ou nos clients nous ont déjà fait parts de leur attences.</h4><br><br>
          </div>
          <div class="col-md-6 text-center">
            <img src="images/trivialpoursuite.jpg" class="img-fluid" alt=""/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-center">
            <img src="images/monopoly.jpg" class="img-fluid" alt=""/>
          </div>
          <div class="col-md-6 ">
            <h4><strong>De 1 ou à 6 personnes pour les particuliers et pour tous les ages</strong></h4>
              <h4 class="subheading">En famille ou entre amis, team building, vivez une expérience unique et insolite avec nos jeux de sociétés</h4>
          </div>
        </div>
    </div>
</div>
{% endblock %}


