{% extends 'base.html.twig' %}
{% block style %}
    
{% endblock %}
{% block title %}Blog{% endblock %}

{% block body %}
.
<div class="board">
    <h1>PAGE EN CONSTRUCTION</h1>
</div>
    
{% endblock %}
