{% extends 'base.html.twig' %}
{% block style %}
    
{% endblock %}
{% block title %}Blog{% endblock %}

{% block body %}
    <h2 class="text-center">Page en construction</h2>
<div class="row">
    <div class="col-9">
        <div class="construction"></div>
    </div>
    <div class="col-3">
        <div class="construction"></div>
    </div>
</div>
<br><br><br>    
{% endblock %}
