{% extends 'base.html.twig' %}

{% block title %}CGV{% endblock %}

{% block body %}


    <h1>Conditions générales</h1>
    <p>PREAMBULE
    <br>
    <br>Les présentes « Conditions Générales de Vente » s'appliquent aux opérations juridiques portant sur les produits commercialisés auprès de ses clients par Le Comptoir des Jeux au sein de sa boutique virtuelle.
    <br>
    <br>DEFINITIONS :
    <br>
    <br>Les mots ou expressions ci-après auront dans le cadre des présentes la signification suivante :
    <br>
    <br>Boutique Internet : désigne le site Internet de Polux sur lequel les Produits sont présentés et vendus aux clients.
    <br>
    <br>Commande : désigne le contrat de vente conclu entre Polux et le client de la boutique Internet de Polux.
    <br>
    <br>Fiche produit : désigne les informations classées concernant un produit fournies par Polux lors de la mise en vente dudit produit dans sa boutique internet.
    <br>
    <br>Produits : désigne l'ensemble des biens et services mis en vente par Polux dans sa boutique internet.
    <br>
    <br>Service : désigne la vente de Produits par Polux aux clients de sa Boutique internet.
    <br>
    <br>Transaction : désigne l'ensemble des opérations, traitements sécurisés, autorisations et accords inhérents au paiement du prix des Produits commandés par carte bancaire.
    <br>
    <br>ARTICLE 1 - OBJET
    <br>
    <br>Les présentes Conditions Générales de Vente ont pour objet de définir les termes et conditions auxquels Le Comptoir des Jeux propose et vend ses Produits à ses clients.
    <br>Ces conditions générales de vente prévaudront sur toutes autres conditions figurant dans tout autre document, sauf dérogation préalable, expresse et écrite.
    <br>
    <br>ARTICLE 2 - ACCEPTATION DES CONDITIONS
    <br>
    <br>Le client reconnaît avoir pris connaissance, au moment de la passation de Commande, des présentes conditions générales de vente et déclare expressément les accepter sans réserve.
    <br>Les présentes conditions générales de vente régissent les relations contractuelles entre Polux et son client, les deux parties les acceptant sans réserve.
    <br>
    <br>ARTICLE 3 - PRODUITS
    <br>
    <br>La majorité des produits proposés par Polux à ses clients est immédiatement disponible.
    <br>Cependant, tous les produits commercialisés par Polux peuvent ou ne peuvent pas forcément faire l'objet de vente en ligne.
    <br>Les produits vendus par "Polux", de par la présence éventuelle de petites pièces pouvant être avalées, ne conviennent pas aux enfants de moins de 36 mois.
    <br>Les jeux d'adresse et de jardin doivent toujours être encadrés par la présence d'adultes, afin d'en contrôler l'utilisation normale et sans danger pour les éventuels enfants y jouant.
    <br>Une partie du catalogue du "Polux" est constituée de jeux traditionnels du monde entier, à la fois objets décoratifs et objets ludiques.
    <br>Les awalés, de par la présence de graines ingérables par l'enfant, ne sont pas des jouets.
    <br>
    <br>ARTICLE 4 - COMMANDE
    <br>
    <br>Les systèmes d'enregistrement automatique sont considérés comme valant preuve de la nature, du contenu et de la date de la Commande.
    <br>
    <br>Le Comptoir des Jeux confirmera au client l'acceptation de sa Commande par l'envoi d'un message de confirmation à l'adresse mail que ce dernier aura communiqué. La vente ne sera conclue qu'à compter de l'envoi de ladite confirmation de commande.
    <br>
    <br>Polux se réserve le droit de refuser ou d'annuler toute Commande d'un client notamment en cas d'insolvabilité dudit client ou dans l'hypothèse d'un défaut de paiement de la Commande concernée ou d'une livraison antérieure ou d'un litige relatif au paiement d'une commande antérieure.
    <br>
    <br>Les mentions indiquées par le client, lors de la saisie des informations inhérentes à sa Commande engagent celui-ci. Polux ne saurait être tenu responsable des erreurs commises par le client dans le libellé des coordonnées du destinataire de la Commande (adresse de livraison, adresse de facturation notamment) et des retards de livraison ou de l'impossibilité de livrer les Produits commandés que ces erreurs pourraient engendrer.
    <br>
    <br>ARTICLE 5 - LIVRAISON
    <br>
    <br>Après confirmation de la Commande et sous réserve de parfait paiement du prix des produits commandés, Polux s'engage à expédier à son client, sous sa responsabilité, les produits commandés à l'adresse de livraison dans un délai de 2 jours ouvrés après la commande, sauf indication contraire dans la description du produit, comme par exemple les produits indiqués en disponibilité 5/10 jours ou 2/4 semaines.
    <br>
    <br>Tous les Produits stipulés dans les Commandes passées à Polux sont destinés à l'usage personnel des clients ou des destinataires dont le nom est mentionné à l'adresse de livraison.
    <br>
    <br>Le cas échéant, le client s'engage à régler à réception, toutes les taxes, droits, impôts et autres charges présents et à venir dus au titre de la livraison desdits produits eux-mêmes; la responsabilité solidaire de Polux ne pouvant à aucun moment être engagée à ce titre.
    <br>
    <br>Les clients ou les destinataires des Produits s'interdisent toute revente partielle ou totale des Produits.
    <br>
    <br>La livraison sera effectuée par Colissimo Suivi, Chronopost 13h ou transporteur selon votre demande ou notre convenance.
    <br>
    <br>Nos tarifs de livraison sont disponibles en cliquant sur "livraison" dans la colonne gauche de notre site.
    <br>
    <br>Les Produits commandés sont transportés aux risques et périls du destinataire. A réception des Produits commandés, le client ou le destinataire devra vérifier le bon fonctionnement du bien livré, et prendra connaissance de ses conditions d'emploi figurant sur la notice d'utilisation qui lui est fournie.
    <br>
    <br>Dans l'hypothèse où l'un ou plusieurs des Produits commandés seraient manquants ou détériorés, le client ou le destinataire doit faire d'éventuelles réserves auprès du transporteur, au moment de la livraison.
    <br>
    <br>En cas de défauts apparents, le client bénéficie du droit de retour dans les conditions prévues dans la notice d'utilisation du bien.
    <br>
    <br>Pour des raisons de disponibilité des Produits commandés, une Commande pourra faire l'objet de plusieurs livraisons successives au client.
    <br>
    <br>Dans l'hypothèse où le client souhaiterait que les Produits commandés soient livrés à deux adresses distinctes, il conviendra que ce dernier passe 2 Commandes distinctes.
    <br>
    <br>ARTICLE 6 - RETRACTATION
    <br>
    <br>Le client dispose d'un délai de 14 jours jours à compter de la réception des Produits commandés pour les retourner à Polux contre échange ou remboursement. Dans cette hypothèse, le client devra renvoyer les Produits neufs, intacts, accompagnés de tous les accessoires éventuels, notices d'utilisation et documentations à l'adresse suivante :
    <br>
    <br>Polux
    <br>74 rue du connétable
    <br>75004
    <br>Paris
    <br>
    <br>En cas d'exercice du droit de rétractation, Polux s'engage à rembourser les sommes versées par le client, sans frais, à l'exception des frais de retour.
    <br>
    <br>Le remboursement est dû dans un délai maximum de 15 jours.
    <br>
    <br>ARTICLE 7 - PRIX
    <br>
    <br>Le prix est exprimé en euro.
    <br>
    <br>Le prix indiqué sur les Fiches produit ne comprend pas les frais inhérents au transport.
    <br>
    <br>Le prix indiqué dans la confirmation de Commande est le prix définitif exprimé toutes taxes comprises et incluant la TVA. Ce prix comprend le prix des Produits, les frais de manutention, d'emballage et de conservation des Produits, les frais de transport et de mise en service.
    <br>
    <br>ARTICLE 8 - PAIEMENT
    <br>
    <br>Le prix facturé au client est le prix indiqué sur la confirmation de Commande adressée par Polux.
    <br>
    <br>Le prix des Produits est payable au comptant par un des moyens de paiement proposé sur le site le jour de la commande effective.
    <br>
    <br>La protection contre une utilisation frauduleuse des moyens de paiement utilisés pour la transaction notamment à la suite d'un piratage ou contre d'éventuelles contestations du paiement du prix d'une Commande sera assurée par la société FIA-NET.
    <br>
    <br>La Commande validée par le client ne sera considérée comme effective que lorsque le centre de paiement bancaire sécurisé et la société FIA-NET auront donné leur accord sur la transaction et, le cas échéant, après acceptation de prise en charge du risque par l'assureur FIA-NET.
    <br>
    <br>En cas de refus du centre de paiement bancaire sécurisé ou de la société FIA-NET, la Commande sera automatiquement annulée et le client prévenu par courrier électronique.
    <br>Les informations en rapport avec votre commande font l'objet d'un traitement automatisé de données dont le responsable est FIA-NET S.A. Ce traitement automatisé de données a pour finalité de définir un niveau d'analyse d'une transaction et de lutter contre la fraude à la carte bancaire.
    <br>
    <br>FIA-NET S.A. et le marchand chez qui vous effectuez votre achat sont les destinataires des données en rapport avec votre commande. La non-transmission des données en rapport avec votre commande empêche la réalisation et l'analyse de votre transaction.
    <br>
    <br>La survenance d'un impayé au motif d'une utilisation frauduleuse d'une carte bancaire entraînera l'inscription des coordonnées en rapport avec votre commande associée à cet impayé au sein d'un fichier incident de paiement mis en oeuvre par FIA-NET S.A. Une déclaration irrégulière ou une anomalie pourra également faire l'objet d'un traitement spécifique.
    <br>
    <br>Conformément à la loi Informatique et Libertés du 6 janvier 1978 vous disposez, à tout moment, d'un droit d'accès, de rectification, et d'opposition à l'ensemble de vos données personnelles en écrivant, par courrier et en justifiant de votre identité, à FIA-NET - Service Informatique et Libertés, 22 rue Drouot, 75009 PARIS.
    <br>
    <br>ARTICLE 9 - LOI APPLICABLE
    <br>
    <br>Les présentes conditions générales de vente sont soumises au droit français.
    <br>
    <br>ARTICLE 10 - RESPONSABILITE
    <br>
    <br>Polux ne peut être tenu pour responsable des dommages de toute nature, tant matériels qu'immatériels ou corporels, qui pourraient résulter de la mauvaise utilisation des Produits commercialisés. Il en est de même pour les éventuelles modifications des Produits résultant des fabricants.
    <br>
    <br>La responsabilité de Polux sera, en tout état de cause, limitée au montant de la commande et ne saurait être mise en cause pour de simples erreurs ou omissions qui auraient pu subsister malgré toutes les précautions prises dans la présentation des produits En cas de difficultés dans l'application du présent contrat, le client et Polux se réservent la possibilité, avant toute action en justice, de rechercher une solution amiable.
    <br>
    <br>A défaut, pour les clients commerçants, le Tribunal de Commerce de Paris est seul compétent, quels que soient le lieu de livraison et le mode de paiement accepté.
    <br>
    <br>ARTICLE 11 - GARANTIE
    <br>
    <br>Dans tous les cas Polux ne pourra être tenu pour responsable du non-respect des dispositions réglementaires et législatives en vigueur dans le pays de réception. La responsabilité de Le Comptoir des Jeux est systématiquement limitée à la valeur du Produit mis en cause déterminée à la date de sa vente et ce sans possibilité de recours envers la marque ou la société productrice du produit.
    <br>
    <br>En toute hypothèse, le client bénéficie de la garantie légale d'éviction et des vices cachés prévue aux articles 1625 et suivants du Code Civil.
    <br>
    <br>Le client pourra contacter le service clients par téléphone 0.952.900.322 ou par mail à l'adresse contact@lecomptoirdesjeux.com.
    <br>
    <br>Réponse : 48 heures.
    <br>
    <br>ARTICLES 12 - INFORMATIONS LEGALES
    <br>
    <br>Le renseignement des informations nominatives collectées aux fins de la vente à distance est obligatoire, ces informations étant indispensables pour le traitement et l'acheminement des commandes, l'établissement des factures et des contrats de garantie. Le défaut de renseignement entraîne la non-validation de la Commande.
    <br>
    <br>Conformément à la loi " Informatique et Libertés ", le traitement des informations nominatives relatives aux clients a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL).
    <br>
    <br>Le client dispose (article 34 de la loi du 6 janvier 1978) d'un droit d'accès, de modification, de rectification et de suppression des données qui le concernent, qu'il peut exercer auprès de Store-Factory. De plus, Polux s'engage à ne pas communiquer, gratuitement ou avec contrepartie, les coordonnées de ses clients à un tiers.
    <br>
    <br>ARTICLE 13 - LITIGE – MEDIATION DE LA CONSOMMATION
    <br>
    <br>En cas de litige entre le Client et l’entreprise, ceux-ci s’efforceront de le résoudre à l’amiable (le Client adressera une réclamation écrite auprès du Service Relations Clientèle du Vendeur).
    <br>A défaut d’accord amiable ou en l’absence de réponse du professionnel dans un délai raisonnable d’un (1) mois, le Client consommateur au sens de l’article L.133-4 du code de la consommation a la possibilité de saisir gratuitement, si un désaccord subsiste, le médiateur compétent inscrit sur la liste des médiateurs établie par la Commission d’évaluation et de contrôle de la médiation de la consommation en application de l’article L.615-1 du code de la consommation, à savoir :
    <br>La Société Médiation Professionnelle
    <br>www.mediateur-consommation-smp.fr
    <br>24 rue Albert de Mun - 33000 Bordeaux</p>
    <p class="btn_pos"><input type="button" value="page d'accueil" class="btn_long btn_h6_001" onclick="window.location=&quot;https://www.Polux@gmail.com;" tabindex="1"></p>
    <p class="comment">Ecrivez nous si vous ne trouvez pas de réponse à votre question dans ces rubriques.</p>
    </div>

{% endblock %}
