{% extends 'base.html.twig' %}

{% block title %}Contactez Polux{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Remplissez le formulaire ci-dessous pour nous contacter directement</h2>
                <h2>Vos informations générales</h2>
            </div>
        </div>
        <br>
        <div class="col-6 text-center">
            <h4>* Champs obligatoires</h4>
        </div><br>

        <form action="" method="post">
            <div class="col-12">
            <div class="form-group row text-center">
                <label for="motif" class="col-sm-6 col-form-label">Votre motif</label>
                <div class="col-sm-2">
                    <select name="motif" id="motif" required>
                        <option value="" class="text-center form-control">--- Sujet Général ---</option>
                        <option value="question">Une question ?</option>
                        <option value="probleme">Un probleme avec un produit</option>
                        <option value="piece">Pièces manquantes ?</option>
                        <option value="reservation">Réservation</option>
                        <option value="remboursement">Remboursement</option>
                    </select>
                </div>
            </div><br>
            
            <div class="form-group row text-center">
                <label for="assoc" class="col-sm-6 col-form-label">Nom de l'entreprise ou de l'association</label>
                <div class="col-sm-2">
                    <input type="text" name="assoc" id="assoc">
                </div>
            </div><br>

            <div class="form-group row text-center">
                <label for="nom" class="col-sm-6 col-form-label">Nom *</label>
                <div class="col-sm-2">
                    <input type="text" name="nom" id="nom" required>
                </div>
            </div><br>

            <div class="form-group row text-center">
                <label for="prenom" class="col-sm-6 col-form-label">Prénom *</label>
                <div class="col-sm-2">
                    <input type="prenom" name="prenom" id="prenom" required>
                </div>
            </div><br>

            <div class="form-group row text-center">
                <label for="tel" class="col-sm-6 col-form-label">Téléphone</label>
                <div class="col-sm-2">
                    <input type="tel" name="tel" id="tel">
                </div>
            </div><br>
            
            <div class="form-group row text-center">
                <label for="email" class="col-sm-6 col-form-label">E-mail *</label>
                <div class="col-sm-2">
                    <input type="email" name="email" id="email" required>
                </div>
            </div><br>

            <div class="form-group row text-center">
                <label for="message" class="col-sm-6 col-form-label">Votre message *</label>
                <div class="col-sm-2">
                    <textarea name="message" id="message" cols="45" rows="10"></textarea>
                </div>
            </div><br>

            <div class="form-group row text-center">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </div>
            </div>
        </form>
        <br><br>
    </div>
    
{% endblock %}
