{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur notre site!{% endblock %}

{% block body %}

<a href="{{ path('app_user_subscription_display') }}">Quelles sont mes abonnements</a>

{% endblock %}
