{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Polux!{% endblock %}

   
{% block body %}

    <div class="container-fluid mt-5">

        <div class="row B ">
            {# <div class="col-md-5 B1"> #}
                
            {# </div> #}
                {# <div class="row B "> #}
                    <div class="col-md-8 d-flex align-items-center justify-content-center">
                    
                            <div class="divtest ">
                            <h2>Polux est établi depuis 2022</h2><br>
                            <span class="text-center">Polux est une entreprise de sociétés spécialisée dans les jeux familiaux, et qui a pour mission de répondre à toutes vos envies ludiques afin que vous passiez de très bons moments en famille et entre amis.
                            </span>   
                            </div>
                         
                    </div>


                    <div class="col-md-4 B ">

                        {# <div class="row B2 d-flex justify-content-center"> #}
                            <span class="ft">Rechercher un jeu<span><br><br>
                        {# </div> #}

                            <form class="form-inline my-2 my-lg-0" action="{{ path('app_search') }}">
                            <input name="search" class="form-control mr-sm-2" type="search" placeholder="Rechercher un jeu..." aria-label="search">
                            <button class="btn btn-outline-info btn-sm my-2 my-sm-0" type="submit">Rechercher</button>
                            </form><br>

                        <div class="col-auto my-1">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing">Se souvenir de mes préférences</label>
                            </div>
                        </div>


                        <select class="form-control form-control-md">
                            <option>âge</option>
                            <option>...</option>
                        </select><br><br>
                        <select class="form-control form-control-md">
                            <option>jeux</option>
                            <option>...</option>
                        </select><br><br>
                        <select class="form-control form-control-md">
                            <option>temps de jeux</option>
                            <option>...</option>
                        </select><br>

                        <button class="btn btn-outline-info btn-sm my-2 my-sm-0 btn-lg" type="submit">Voir la disponibilité</button>

                   </div>
        </div>
    </div><br><br><br>

    <div class="container-fluid ">

    <div class="row B BGC">

        <div class="col-md-8 pt-5 pb-5  ms-5 me-5">
            <span class="text-center">Polux vous propose une gamme étendue de jeux de stratégies, des grands classiques aux dernières nouveautés, des jeux individuels aux jeux pour toute la famille et aux jeux du monde.<br><br>

                Nous sommes spécialisés dans les jeux de stratégie pour enfants, vous trouverez chez nous le meilleur dans ce domaine : matériel pour clubs, jeux classiques, de collection, de décoration. Une librairie de plus de 100 titres en langue française et bientôt anglaise.<br><br>
                
                N’hésitez pas à venir nous rendre visite, nos conseillers sont à votre service.<br>
            </span> 
        </div>

        <div class="col-md-4 ms-5 me-5">
            <h2 class="title-Polux text-center">Chez Polux</h2><br>
            <img src="/images/shared_img/polux3.jpeg" style="width: 19rem; height: 17rem;" alt="polux"><br><br>
        </div>

    </div>
</div><br><br><br>


<div class="container-fluid B">

        <br><br>
    <blockquote class="blockquote text-center">
    <h2>Nos jeux les plus plébiscités</h2>
    </blockquote>
    <br>
    <div class="container">
  <div class="row">
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="/images/shared_img/quil_avu-jeu-removebg-preview.png" class="card-img-top" style="width: 18rem; height: 16rem;" alt="jeu qui l'a vu">
            <div class="card-body">
              <h6>Qui l'a vu ?</h6>
              <p class="card-text">
                Un jeu d'enquête et de coopération dans un univers fantastique que les enfants adorent ! C'est en travaillant ensemble que vous y arriverez. Parviendrez-vous à sauver le royaume à temps ?</p>
            <p>34€ à l'achat</p>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="/images/shared_img/mon-premier-verger-jeu-removebg-preview.png" class="card-img-top" style="width: 18rem; height: 16rem;" alt="jeu mon permier verger">
            <div class="card-body">
                <h6>Mon premier verger</h6>
                <p class="card-text"> Conçu pour les enfants à partir de 2 ans, votre tout-petit s'initie aux jeux de société. Qui du corbeau ou des joueurs récoltera en premier tous les fruits ?</p>
                <p>22€ à l'achat</p>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="/images/shared_img/jeu-catan-junior-removebg-preview.png" class="card-img-top" style="width: 18rem; height: 16rem;" alt="jeu catan junior">
            <div class="card-body">
                <h6>Catan Junior</h6>
                <p class="card-text">Dans ce jeu de société Catan Junior, le hasard rencontre la stratégie pour familiariser les plus petits aux mécaniques des jeux de société.</p>
                <p>19€ à l'achat</p>
            </div>
          </div>
    </div>
  </div>
</div><br><br><br>

<blockquote class="blockquote text-center">
    <h2>Nos nouveautés</h2>
    </blockquote>
    <br>
    <div class="container">
  <div class="row">
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="/images/shared_img/jeu-labyrinthe-magique-removebg-preview.png" class="card-img-top" style="width: 18rem; height: 16rem;" alt="jeu le labyrinthe magique">
            <div class="card-body">
                <h6>Le labyrinthe magique</h6>
                <p class="card-text">Votre enfant construit son labyrinthe, le recouvre et part à la recherche des objets.Un jeu original à partager en famille.</p>
                <p>26€ à l'achat</p>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="/images/shared_img/croque-carotte-jeu-removebg-preview.png" class="card-img-top" style="width: 18rem; height: 16rem;" alt="jeu croque carotte">
            <div class="card-body">
                <h6>Croque-carotte</h6>
                <p class="card-text">C'est parti pour une course de lapins complètement folle ! Le chemin qui mène jusqu'à la colline est plein de surprises : des trous s'ouvrent et boum, les lapins tombent dedans, ou une taupe sans-gêne les pousse sur le côté... </p>
                <p>24€ à l'achat</p>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="/images/shared_img/sous-l-ocean-jeu-removebg-preview.png" class="card-img-top" style="width: 18rem; height: 16rem;" alt="jeu sous l'ocean">
            <div class="card-body">
                <h6>Sous l'océan</h6>
                <p class="card-text">Respirez profondément et plongez à la  recherche de coquillages.Mais faites attention! Lorsque le requin arrive, vous devrez lâcher tout votre butin et vous sauver. Un jeu d'ambiance à partager entre petits et grands! </p>
                <p>18€ à l'achat</p>
            </div>
          </div>
    </div>
  </div>
</div><br><br><br>

</div><br><br><br>

<div class="container-fluid B">
    <div class="row d-flex justify-content-center">
        <h3>Ils parlent de nous</h3>
    </div><br><br>

    <div class="row">
        <div class="col-md-2 mt-2">
            <img src="/images/shared_img/logo_tripAdvisor-removebg-preview.png" alt="logo tripatdvisor attestation d'excellence">
        </div>
        <div class="col-md-5">
            <h6>Sacha Touille</h6>
            <p>⭐️⭐️⭐️⭐️</p>
            <span>Depuis que nous louons nos jeux chez Polux, nous qui avions la nostalgie des dimanches après-midi, nous les attendons maintenant avec impatience! Les jeux sont toujours en excellents états et il y a un large choix. Nous avons réduit le temps d'écran de nos enfants par deux. Un régal! 
            </span><br><br>
            <a href="#">voir tous les avis</a>
        </div>
        <div class="col-md-5">
            <h6>Paul Ochon</h6>
            <p>⭐️⭐️⭐️⭐️⭐️</p>
            <span>Le système de livraison est au top: simple, rapide, efficace. N'étant pas familier des jeux de société pour enfants, j'ai bénéficié d'excellents conseils du service client. Mes enfants lisent eux-mêmes les règles du jeu et progressent. Nous avons même eu le droit à un jeu offert sur la boutique! Merci Polux!
            </span><br><br>
        </div>
    </div>
</div><br><br><br>


<div class="container-fluid B">
    <div class="row B1 d-flex justify-content-center">
        <h3>Blog Polux</h3>
    </div><br><br>

    <div class="row B2 ">
        <div class="col-md-4 B3">
            <h6>Tournoi donjon et dragon</h6>
            <a href="">lire l'article</a><br><br>
            <img src="/images/shared_img/image-article-3-removebg-preview.png" alt="tournoi de jeux entre amis" style="width: 18rem; height: 16rem;"><br><br>
            <span>Un groupe de jeunes entre 14 et 17 ans ont pris un abonnement chez Polux et se réunissent chaque semaine pour un tournoi inédit (...)
            </span>
        </div>
        <div class="col-md-4 B4">
            <h6>Les 10 bienfaits de jouer en famille</h6>
            <a href="#">lire l'article</a><br><br>
            <img src="/images/shared_img/image-article-2-removebg-preview.png" alt="tournoi de jeux entre amis" style="width: 18rem; height: 16rem;"><br><br>
            <span>Cette grande famille nous livre les 10 bienfaits de jouer en famille depuis leur souscription chez Polux (...)
            </span>
        </div>
        <div class="col-md-4 B5">
            <h6>Nos jeunes blogeurs en herbe </h6>
            <a href="#">lire l'article</a><br><br>
            <img src="/images/shared_img/image-article-5.jpeg" alt="tournoi de jeux entre amis" style="width: 18rem; height: 16rem;"><br><br>
            <span>Nous avons eu la joie de recevoir un courrier des enfants, nous pourrons bientôt leur consacrer un espace privilégié sur le blog où ils pourront partager leur (...)
            </span>
    </div>
</div><br><br><br>



{% endblock %}
