{% extends 'base.html.twig' %}

{% block title %}Label Qualité{% endblock %}

{% block body %}

    <h1 class="text-center">Label Qualité</h1><br><br><br>

    <section>

    Il n'existe toujours pas, à ce jour, de normes ou labels certifiant les qualités écologiques des jouets. Cependant la qualité et la transparence étant pour nous des valeurs essentielles, nous avons, dans la mesure du possible, privilégié les produits certifiés et/ou labellisés, qui sont à la fois garants de qualité et traçabilité.
    Vous trouverez donc ci-dessous la liste des labels et organismes de certification concernant nos produits.<br><br><br>

    <p> Logo FSCFS </p><br><br>
Ce label a pour but de lutter contre la déforestation et l'exploitation illégale de forêts et notamment de forêts primaires.<br>
La présence du label FSC certifie que le bois qui a été utilisé dans un produit provient de forêts ou de plantations gérées de manière responsable et durable, selon les principes FSC :<br><br>
# les besoins sociaux,<br>
# économiques,<br>
# écologiques,<br>
# culturels des générations présentes et futures.<br><br>
Le Forest Stewardship Council est un organisation non-gouvernementale sans but lucratif, créée en 1993 par un groupe représentatif de diverses organisations provenant de 25 pays. Derrière ces trois lettres, on trouve des représentants d'organisations de protection de l'environnement - Greenpeace, WWF... - de défense des peuples indigènes, de forestiers et de revendeurs de produits en bois.<br><br><br>

Logo PEFCPECF<br><br>
Fédèrant une trentaine de systèmes nationaux à travers le monde, ce système couvre désormais, avec 190 millions d'hectares, près de 6% des forêts exploitées du monde.<br> Né en 1999 du dialogue entre des associations environnementales et professionnelles du monde forestier, il s'est développé depuis 1999 dans un contexte européen marqué par le morcellement de la propriété forestière et une régulation des usages de la forêt.
ll existe en effet une cinquantaine d'initiatives de certifications à travers le monde et le label PEFC est fondé sur la reconnaissance mutuelle de ces différentes initiatives, chacune structurée différemment et basée sur des critères propres.<br> PEFC s'appuie sur les critères et indicateurs de gestion forestière durable des principaux groupes de travail intergouvernementaux, soutenus par 149 pays et applicables à 85% des forêts mondiales.<br>
Le Conseil international de PEFC veille à l'équivalence des systèmes mis en place, sous son égide, dans les différents pays ; l'association nationale PEFC coordonne, dans chaque pays, l'action des entités régionales et supervise les entreprises industrielles ou commerciales dotées d'une chaîne de contrôle.<br><br>

Depuis 2020, Polux vous propose une large sélection de jeux et jouets éthiques pour les enfants. Sur Polux, découvrez le plus grand choix de jouets en bois exclusivement fabriqués en France et en Europe. Nous travaillons avec des artisans et des PME spécialisés dans les jeux et jouets en bois de qualité et engagés dans le développement durable. Ils nous fabriquent des jouets pour les jeunes enfants, des jeux d'éveil, des jeux de société, ... et bien plus encore !<br><br>

</section>

{% endblock %}
