{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

    <h1 class="text-center">Mentions légales</h1><br><br><br>

    Ce site est celui de :<br><br>

Polux - siret : 45025896700022 - n° tva : FR18450258967<br><br>

Représenté par: Jean Gabin<br><br>

79 rue du connétable - 75004 Paris<br><br>

Tél. : 0.952.900.322 <br><br><br>

 

Ce site est conçu, développé et administré techniquement par Store En Stock<br><br>

27 rue du Capitaine Guyemer 33000 Bordeaux CEDEX<br><br>

Store-Factory est une solution de boutique en ligne pour la vente et la location en ligne.<br><br><br>

 

L'hébergement est assuré par Ornithorynque Network<br><br>

13, avenue Bertrand Duguesclin - 35400 Saint-Malo - France<br><br>
{% endblock %}
