{{ form_start(form) }}
{# {% for user in users %} #}
    {{ form_widget(form) }}
{# {% endfor %} #}
    <button class="btn btn-info">{{ button_label|default('Enregistrer') }}</button><br>
{{ form_end(form) }}
