{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modifier mes informations</h1>
   
    {{ include('profil/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_profil_index') }}">Retourner à mon profil.</a>

    {{ include('profil/_delete_form.html.twig') }}

{% endblock %}
