
{# <footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Polux</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-lonely/ -->
      Designed by <a href="https://bootstrapmade.com/">Polux</a>
    </div>
  </div>
</footer><!-- End  Footer --> #}


<footer class="mt-5">
  <div class="nav justify-content-center" style="background-color: lightgray">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Nous contacter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mentions Légales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services clients</a>
      </li>
    </div>
</footer>

{# <br><br><br>
<footer class="mt-5">
  
  <div class="row justify-content-around ms-3 me-4">
    
    <div class="card" style="width: 18rem" class="col-md-6">
      <blockquote class="blockquote ms-3 ps-3">
        <h5>Suivez Polux avec notre newsletter ...</h5>
        </blockquote>
      <img src="/images/tu-viens-jouer.jpeg" class="card-img-top" alt="notre newsletter">
    </div>
    <blockquote class="blockquote">
    <h5>Et sur les réseaux sociaux !</h5>
    </blockquote>
  <div class="row justify-content-around d-flex ms-3 me-4">
    
    <a class="nav-link" href="#"><i class="fa-brands fa-facebook"></i></a>
    <a class="nav-link" href="#"><i class="fa-brands fa-instagram"></i></a>
    <a class="nav-link" href="#"><i class="fa-brands fa-twitter"></i></a>
  </div>
  </div>
  
  <div class="row justify-content-around">
    
      <div class="col-md-3" style="font-size:20px">
        <a class="nav-link" href="#">FAQ</a>
        <a class="nav-link" href="#">Avis Clients</a>
        <a class="nav-link" href="#">Services Clients</a>
        <a class="nav-link" href="#">Contactez-nous</a>
        <a class="nav-link" href="#">Recrutement</a>
      </div>
  </div>

  <div class="row justify-content-around">
    
    <div class="col-md-3" style="font-size:15px">
      <a class="nav-link" href="#">Label Qualité</a>
      <a class="nav-link active" aria-current="page" href="#">CGV</a>
      <a class="nav-link" href="#">CGU</a>
      <a class="nav-link" href="#">Politique de confidentialité</a>
    </div>
  </div>

</footer> #}
      
      




      {# <div class="col-md-3">
        <div class="card-body">
          <h3 class="card-text">Suivez l'actualité de Polux avec notre newsletter ! </h3>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/images/tu-viens-jouer.jpeg" class="card-img-top" alt="notre newsletter">
        </div>

      <div class="col-md-3">
        <a class="nav-link" href="#"><i class="fa-brands fa-facebook"></i></a>
        <a class="nav-link" href="#"><i class="fa-brands fa-instagram"></i></a>
        <a class="nav-link" href="#"><i class="fa-brands fa-twitter"></i></a>
      </div> #}

  {# </div>
</footer> #}


{# 
<footer class="text-center text-lg-start bg-light text-muted">
<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="{{ path('app_login') }}">Restez connecter avec nous </a>

  <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
    </div>

    <section class="">
<!-- Grid column -->
<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  <!-- Links -->
  <h6 class="text-uppercase fw-bold mb-4">
    Contact
  </h6>
  <p><i class="fas fa-home me-3"></i> France</p>
  <p>
    <i class="fas fa-envelope me-3"></i>
    info@example.com
  </p>
  <p><i class="fas fa-phone me-3"></i> + 01 00 00 00 00</p>
  <p><i class="fas fa-print me-3"></i> + 06 00 00 00 00</p>
</div>
<!-- Grid column -->

                  <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            FAQ
          </h6>
          <p>
            <a href="#!" class="text-reset">Label de qualité</a>
          </p>
          <p>
            <a href="#!" class="text-reset">CGU</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Autre</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Autre</a>
          </p>
        </div>
        <!-- Grid column -->

        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2022 Copyright:
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
</nav>
</footer> #}


