{% extends 'base.html.twig' %}

{# {{ picture.id }} permet d'afficher l'id de la photo #}
{% block title %}Editer la photo {% endblock %}

{% block body %}
    <h1>Editer la photo </h1>

    {{ include('admin/picture/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('admin/picture/_delete_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_admin_picture_index') }}">Retourner à la liste</a>

{% endblock %}
