{% extends 'base.html.twig' %}

{% block title %}Nouvelle photo{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle photo</h1>

    {{ include('admin/picture/_form.html.twig') }}

    <a href="{{ path('app_admin_picture_index') }}"><button class="btn">{{ button_label|default('Retourner à la liste') }}</button></a>
{% endblock %}
