<div class="container-fluid">
    <div class="row border justify-content-center">
        <div class="col-md-10 mx-auto border1 justify-content-center">
            <div class="row border2 justify-content-center">
                <h1 class="titreNL">Suivez l'actualité de Polux</h1>
            </div>
            
            <div class="row border justify-content-center">
                <div class="col-md-10 mx-auto border1 justify-content-center">
                    <div class="row border2 justify-content-center mt-2">
                        <p>Découvrez ici toutes les actus ludiques ! Mais aussi les nouvelles de notre site, de sa boutique et de ses offres de location. Notre équipe de joueurs passionnés prendra soin de toutes vos envies!
                            En cliquant sur s'inscrire, vous acceptez de recevoir les newsletters de Polux. Vous pourrez facilement vous désinscrire à tout moment via les liens de désinscription présents dans chacun de nos emails.
                        </p>
                    </div>
                    

            <div class="row d-flex justify-content-center" >
                <div class="col-md-12 bordure ">

                    <div class="row border3 justify-content-center">
                        <div class="col-md-6 border4 ">
                                <div class="row border2 justify-content-center mt-5">
                                    <h5 class="sm-title-NL">Grâce à notre newsletter</h5>
                                </div>
                        </div>
                        <div class="col-md-6 border4">
                            <div class="row border2 justify-content-center me-3 mt-5">
                               <h5 class="sm-title-NL">Suivez-nous sur les réseaux sociaux</h5>
                            </div>
                        </div>
                    </div>


                    <div class="row border3 justify-content-center">
                        <div class="col-md-6 border4 ">
                                <div class="row border2 justify-content-center mt-2">
                                    <button class="btn btn-outline-info btn-sm my-2 my-sm-0" type="submit">S'inscrire à la newsletter</button>
                                </div>
                        </div>
                        <div class="col-md-6 border4">
                            <div class="row d-flex border1 justify-content-between ms-5 mt-3">
                                <div class="col-md-3 border4 "></div>
                                <div class="col-md-3 border4 ">
                                    <p><i class="fa-brands colorfa fa-facebook  fa-2x"></i></p>
                                </div>
                                <div class="col-md-3 border4 ">
                                    <p><i class="fa-brands colorfa fa-instagram fa-2x"></i></p>
                                </div>
                                <div class="col-md-3 border4 ">
                                    <p><i class="fa-brands colorfa fa-twitter fa-2x"></i></p>
                                </div>  
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
            
                </div>
            </div>
        </div>
    </div>
    

</div>