{# <div class="container-fluid"> #}
    <aside class="bandeau">
        <p class="banner-body">
            <img src="/images/shared_img/superman-removebg-preview.png" alt="Superman">
            <span class="bandeau-text phraseMove">Viens jouer avec nous!</span>
        </p>
    </aside>
{# <div class="row divSuperman d-flex justify-content-center" >
    <div id="divImg" class="col-md-6 bordure ">
        <div class="row bordure2 justify-content-center">
            <div class="col-md-2 bordure d-flex justify-content-center align-items-center">
                    <img class="bordure3"src="/images/shared_img/superman-removebg-preview.png" alt="Bienvenue chez Polux">
            </div>
            <div class="col-md-6 bordure d-flex justify-content-center align-items-center">
                <div class="row bordure4 ">
                    <span class="phraseMove">Viens jouer avec nous!</span>
                </div>
            </div>
        </div>
    </div>
</div> #}


{# JET 2 #}


    <div class="row bordure5 d-flex justify-content-between container-fluid">

        
    {# <div class="col-md-2 bordure9 d-flex align-items-center">
        <p class="phead d-block">Une question?</p>
            <div class="col-md-1 ">
                <p class="phead">Contact</p>
            </div>
    </div> #}




        <div class="col-md-2 bordure9 d-flex flex-column justify-content-center">
            <span class="phead bordure6 d-block text-center">Une question?</span>
            <span class="phead bordure6 d-block text-center">Contact</span>
        </div>
        {# <div class="col-md-1 border4 "></div> #}
        <div class="col-md-6 bordure5 mt-3">
            <h1 class="h1header text-center">Polux</h1>

            <div class="col-md-8 mx-auto"> 
                <div class="row bordure5 justify-content-center align-items-center">
                    <h2 class="h2header">Le jeu de société</h2>
                    <img class="bordure8" src="/images/shared_img/madeInFrance-removebg-preview.png">
                </div>
            </div>

        </div>
        <div class="col-md-2 bordure7 d-flex align-items-end justify-content-end">
            <div class="row bordure3 ">
                <div class="col-md-4 bordure9 ">
                        <p><i class="fa-solid colorfa fa-user fa-2x"></i></p>
                    </div>
                    <div class="col-md-4 bordure9 ">
                        <p><i class="fa-solid colorfa fa-basket-shopping fa-2x"></i></p>
                    </div>
                    <div class="col-md-4 bordure9 ">
                        <p><i class="fa-brands colorfa fa-rocketchat fa-2x"></i></p>
                    </div>
                </div>
        </div>
    </div>




{# </div>  #}

{# JET 1 #}

{# <div class="row justify-content-center align-items-start mt-5">
    <div class="col-md-2 bordure5 justify-content-center "> 
        <h1 class="h1header">Polux</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-2 bordure9 d-block">
        <p class="phead">Une question?</p>
            <div class="col-md-1 d-block">
                <p class="phead">Contact</p>
            </div>
    </div>
    
    
    <div class="col-md-8 justify-content-center "> 
        <div class="row bordure5 justify-content-center align-items-center mb-5">
            <h2 class="h2header">Le jeu de société</h2>
            <img class="bordure8" src="/images/shared_img/madeInFrance-removebg-preview.png"> 
            
                     
        </div>
           <div class="row bordure3 d-flex justify-content-end mb-3">
                <div class="col-md-1 bordure9 ">
                    <p><i class="fa-solid colorfa fa-user fa-2x"></i></p>
                </div>
                <div class="col-md-1 bordure9 ">
                    <p><i class="fa-solid colorfa fa-basket-shopping fa-2x"></i></p>
                </div>
                <div class="col-md-1 bordure9 ">
                    <p><i class="fa-brands colorfa fa-rocketchat fa-2x"></i></p>
                </div>
            </div>
    </div>

</div> 
</div>        #}
