<div class="row divSuperman">
    <div class="col-md-6 bordure">
        <figure class="imgSuperman">
            
        <img src="/images/superman.jpeg" alt="Bienvenue chez Polux">
        {# <figcaption>
          <a href="{{ path('app_display_game') }}">Viens jouer avec nous!</a>
        </figcaption> #}
        </figure>
    </div>
    <div class="col-md-6 bordure mt-5">
        <p class="phraseMove">Viens jouer avec nous!</p>
    </div>
</div>

<section class="sectionHeader">
    <div class="divHeader">
        <h1>Polux</h1>
        <h2>Le jeu de société fait en France</h2>
    </div>
</section>