<div class="row divSuperman d-flex justify-content-center" >
    <div class="col-md-4 bordure ">
        <div class="row bordure2">
            <div class="col-md-6 bordure d-flex justify-content-center align-items-center">
                {# <figure class="imgSuperman">  #}
                    <img class="bordure3"src="/images/shared_img/superman-removebg-preview.png" alt="Bienvenue chez Polux">
                {# </figure> #}
            </div>
            <div class="col-md-6 bordure ">
                <div class="row bordure4">
                    <p class="phraseMove">Viens jouer avec nous!</p>
                </div>
            </div>
        </div>
        {# <div class="row bordure2 ">
            <div class="col-md-6 bordure3">
            </div>
        </div> #}
        {# <figure class="imgSuperman"> #}
            
        {# <img src="/images/superman-removebg-preview.png" alt="Bienvenue chez Polux"> #}
        
        {# </figure> #}
   
   
        {# <p class="phraseMove">Viens jouer avec nous!</p> #}
    </div>
</div>

<section class="sectionHeader">
    <div class="divHeader">
        <h1>Polux</h1>
        <h2>Le jeu de société fait en France</h2>
    </div>
</section>