<nav>
    <ul>
        <li>
            <a href="{{ path('app_admin_discount_index') }}">Liste des discount</a>
        </li>
        <li>
            <a href="{{ path('app_admin_discount_new') }}">Ajouter un discount</a>
        </li>
    </ul>
</nav>
