<nav>
    <ul>
        <li><a href="{{ path('app_admin_subscription_index') }}">Liste des abonnements</a></li>
        <li>
            <a href="{{ path('app_admin_subscription_new') }}">Ajouter un abonnement</a>
        </li>
    </ul>

    <a href="{{ path('app_display_subscription') }}">Abonnements</a>
</nav>
