<nav>
    <ul>
        {% if app.user %}
        <li >Accueil</li>
        <li>Nos jeux</li>
        <li>Best-Sellers</li>
        <li>Abonnements</li>
        <li>Blog</li>
        <li>Contact</li>
        <li>Mon espace</li>
        {% endif %}

        <li> <a href="{{ path('app_register') }}">Inscription</a></li>
        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>

        {% if is_granted("ROLE_ADMIN") %}
        <li><a href="{{ path('app_admin_user_index') }}">GESTION ADMIN</a></li>
        {% endif %}
    </ul>
</nav>