<form method="post" action="{{ path('app_admin_subscription_delete', {'id': subscription.id}) }}" onsubmit="return confirm('Etes-vous sûr de vous supprimer le compte ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subscription.id) }}">
    <button class="btn">Supprimer</button>
</form>
