{% extends 'base.html.twig' %}

{% block title %}Modifier l'abonnement{% endblock %}

{% block body %}
    <h1>Modifier l'abonnement</h1>

    {{ include('admin/subscription/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('admin/subscription/_delete_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_admin_subscription_index') }}">Retourner à la liste</a>

{% endblock %}
