{% extends 'base.html.twig' %}

{% block title %}Modifier le jeu{% endblock %}

{% block body %}
    <h1>Modifier le jeu</h1>
    
        {{ include('admin/game/_form.html.twig', {'button_label': 'Modifier'}) }}

        {{ include('admin/game/_delete_form.html.twig') }}

        <a class="btn btn-secondary" href="{{ path('app_admin_game_index') }}">Retourner à la liste</a>

        
{% endblock %}
