{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <h1>Créer un nouveau jeu</h1>

    {{ include('admin/game/_form.html.twig') }}

    <a href="{{ path('app_admin_game_index') }}"><button class="btn">{{ button_label|default('Retourner à la liste') }}</button></a>
{% endblock %}
