<form method="post" action="{{ path('app_admin_discount_delete', {'id': discount.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette réduction ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ discount.id) }}">
    <button class="btn sm-btn btn-danger">Supprimer</button>
</form>
