{% extends 'base.html.twig' %}

{% block title %}Edit Discount{% endblock %}

{% block body %}
    <h1>Modifier la réduction</h1>

    {{ include('admin/discount/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn sm-btn btn-secondary" href="{{ path('app_admin_discount_index') }}">Retourner à la liste</a>

    {{ include('admin/discount/_delete_form.html.twig') }}
{% endblock %}
