{% extends 'base.html.twig' %}

{% block title %}Nouvelle discount{% endblock %}

{% block body %}
    <h1>Créer une nouvelle réduction</h1>

    {{ include('admin/discount/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_admin_discount_index') }}">Retourner à la liste</a><br><br>
{% endblock %}
